.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1176px;
	padding: 0px 15px;
}
body {
	font-family: "Open Sans", sans-serif;
	color: $text-color;
	background: $primary;
}
.button {
	border-radius: 8px;
	background: none;
}
