.publisher {
	padding: 80px 0 101px 0;
	background: $bg-color;

	&__wrapper {
	}

	&__title {
		font-family: Roboto Condensed;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		letter-spacing: 0.2px;
		color: $primary;
		margin: 0 0 51px 0;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		height: 32px;
		margin: 0 0 51px 0;
		&:last-child {
			margin: 0;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		width: 190px;
		& .icon {
			width: 109px;
			height: 32px;
		}
	}
}
