.theme {
	position: relative;
	padding: 60px 0 99px 0;
	&__wrapper-slider {
		position: relative;
	}

	&__slider {
		margin: 0 4px 0 2px !important;
	}

	&__wrapper {
		// display: flex;
		// overflow: hidden;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid #eceef2;
		box-sizing: border-box;
		border-radius: 8px;
		padding: 40px 0 30px 0;
		& .icon {
			width: 64px;
			height: 64px;
			margin: 0 0 40px 0;
		}
	}

	&__title {
		font-family: Roboto;
		font-weight: 500;
		font-size: 22px;
		line-height: 32px;
		margin: 0 0 12px 0;
	}

	&__sub-title {
		font-size: 16px;
		line-height: 22px;
	}
}
.slider-button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	width: 56px;
	height: 56px;
	z-index: 50;
	transform: translateY(-50%);
	background: #ffffff;
	box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
	border-radius: 50px;
	& .icon {
		width: 14px;
		height: 18px;
	}
}
.theme-button-prev {
	left: -26px;
}
.theme-button-next {
	right: -25px;
}
.line {
	& hr {
		height: 1px;
		background: #eceef2;
	}
}
